In [2]:
import warnings
warnings.filterwarnings('ignore')
from matplotlib import dates as mpl_dates
from datetime import datetime, timedelta
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt
# import seaborn as sns
from datetime import datetime
import pycaret

In [2]:
from pycaret.regression import *

In [3]:
df1 = pd.read_csv('assets/merged_data_teledyne_and_ENE00960_R.csv', parse_dates=["DataDate"])
df1

               DataDate  pm2_5_Ref    hum   temp  pm2_5
0      01/10/2023 17:54   7.276371  100.5  26.80    4.0
1      01/10/2023 17:55   7.128142  100.5  26.79    4.0
2      01/10/2023 17:56   7.118874  100.5  26.79    4.0
3      01/10/2023 17:57   7.077153  100.5  26.79    2.0
4      01/10/2023 17:58   7.055617  100.5  26.77    4.0
...                 ...        ...    ...    ...    ...
90207   22/02/2024 9:42  27.340340   91.5  31.33   14.0
90208   22/02/2024 9:43  27.341790   91.1  31.35   15.0
90209   22/02/2024 9:44  27.313970   90.9  31.41   17.0
90210   22/02/2024 9:45  27.376200   90.8  31.43   17.0
90211   22/02/2024 9:46  27.156200   90.6  31.49   17.0

[90212 rows x 5 columns]

In [4]:
df1.isnull().sum()

DataDate     0
pm2_5_Ref    0
hum          0
temp         0
pm2_5        0
dtype: int64

In [5]:
filtered_df1 = df1[["pm2_5_Ref","hum", "temp", "pm2_5"]]
filtered_df1
# df1 = df1[["PM2.5_Ref", "PM2_5_LCS"]]

       pm2_5_Ref    hum   temp  pm2_5
0       7.276371  100.5  26.80    4.0
1       7.128142  100.5  26.79    4.0
2       7.118874  100.5  26.79    4.0
3       7.077153  100.5  26.79    2.0
4       7.055617  100.5  26.77    4.0
...          ...    ...    ...    ...
90207  27.340340   91.5  31.33   14.0
90208  27.341790   91.1  31.35   15.0
90209  27.313970   90.9  31.41   17.0
90210  27.376200   90.8  31.43   17.0
90211  27.156200   90.6  31.49   17.0

[90212 rows x 4 columns]

In [7]:
s = setup(filtered_df1, target = 'pm2_5_Ref', session_id = 123)

In [10]:
# compare baseline models
best1 = compare_models()

In [11]:
# predict on test set
holdout_pred1 = predict_model(best1)

In [12]:
save_model(best1, 'assets/correction_factor_random_forest_sensor960-25-April-2024')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['hum', 'temp', 'pm2_5'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('trained_model',
                  RandomForestRegressor(n_jobs=-1, random_state=123))]),
 'assets/correction_factor_random_forest_sensor960-25-April-2024.pkl')

In [14]:
import pickle
import gzip

def compress_pickle_gzip(file_path, data):
    with gzip.open(file_path, 'wb') as f:
        pickle.dump(data, f)

# Usage
model = 'assets/correction_factor_random_forest_sensor960-25-April-2024.pkl'  # This should be your loaded model
file_path = 'assets/model.pkl.gz'  
compress_pickle_gzip(file_path, model)

In [ ]:
[
    {
        "hum": 100.4,
        "temp": 26,
        "pm2_5": 5
    },
    {
        "hum": 100.4,
        "temp": 26.02,
        "pm2_5": 5
    },
     {
        "hum": 100.4,
        "temp": 25.24,
        "pm2_5": 4
    }
]

In [ ]:
{
    "pm2_5": 8.390000,
    "pm10": 3.0,
    "sox": 24.56,
    "nox": 53.62,
    "temp": 20.7,
    "hum": 75.0,
    "ts_client": "2024-05-22 18:12:12",
    "id": "ENE02516"
}

In [ ]:
[{
    "pm2_5": 8.390000,
    "pm10": 3.0,
    "sox": 24.56,
    "nox": 53.62,
    "temp": 20.7,
    "hum": 75.0,
    "ts_client": "2024-05-22 18:12:12",
    "id": "ENE02516"
},
{
    "pm2_5": 9.390000,
    "pm10": 5.0,
    "sox": 24.56,
    "nox": 53.62,
    "temp": 30.7,
    "hum": 80.0,
    "ts_client": "2024-05-22 18:12:12",
    "id": "ENE02516"
}]

In [2]:
import boto3 
import pandas as pd

In [5]:
s3 = boto3.client('s3')
s3_bucket_name = 'low-cost-air-sensor-calibration-engine'
s3_key = 'assets/model_pm2_5.pkl.gz'
# s3.upload_file('assets/data_ENE00933_R.csv', s3_bucket_name, s3_key)

In [8]:
s3.download_file(s3_bucket_name, s3_key, 'model_pm2_5.pkl.gz')